@{
    Layout = "_LayoutVue";
    ViewData["Title"] = "填写订单信息";
}
<div id="app" class="container order-edit">
    <dl class="addr-select">
        <dt class="sub-title">确认收货地址</dt>
        <template v-if="addrList.length>0">
            <dd v-for="item in addrList"
                class="addr-item"
                v-bind:class="{'selected':item.isDefault}">
                <span class="addr-item-pre" v-if="item.isDefault">寄送至：</span>
                <span class="addr-item-pre" v-else></span>
                <span class="addr-item-info">
                    {{item.province}} {{item.city}} {{item.area}} {{item.detail}} {{item.name}} 收（{{item.phone}}）
                </span>
                <a class="addr-btn" href="#">选择地址</a>
                <a class="addr-btn" href="#">修改地址</a>
            </dd>
        </template>
        <template v-else>

        </template>
    </dl>
    <div class="goods-info">
        <p class="sub-title">确认商品信息</p>
        <table class="table table-bordered goods-table">
            <tr class="text-center bg-lightgray">
                <th colspan="2">商品信息</th>
                <th>单价 x 数量</th>
                <th>小计</th>
            </tr>
            <tr>
                <td class="goods-img" style="width:100px;">
                    <img src="https://www.winex-hk.com/upload/20181010/20181010161342_8267.png" />
                </td>
                <td class="goods-name">
                    奥德碧丝城堡干红葡萄酒2012  
                </td>
                <td class="goods-price">￥2000.00 x 1</td>
                <td class="goods-price">￥2000.00</td>
            </tr>
        </table>
    </div>
    <div class="amount-count">
        <p>商品金额：<b class="color-red">￥10086.00</b></p>
        <p>运输费用：<b class="color-red">￥20.00</b></p>
        <p>总金额：<b class="color-red">￥20.00</b></p>
        <div id="btn-submit" class="btn btn-danger">提交订单</div>
    </div>
</div>
@section Footer{
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                addrList: [],//收货地址列表
                cartList: [],//各个店铺的购物车列表的集合
            },
            methods: {
            },
            computed: {

            },
            created: function () {
                this.$http.post('/api/order/getEditData').then(function (res) {
                    var code = res.body.code;
                    console.log(res.body);
                    if (code == 1000) {
                        this.addrList = res.body.data.addrList;       
                        this.cartList = res.body.data.cartList;       
                    }
                    else {
                    }
                }, function () {
                    console.log('请求失败处理');
                });
            }
        });
    </script>

}
