/.vs
/TengoDotNetCore/bin/
/TengoDotNetCore/obj/
/TengoDotNetCore.Common/bin/
/TengoDotNetCore.Common/obj/
/TengoDotNetCore.Models/bin/
/TengoDotNetCore.Models/obj/
/TengoDotNetCore.Service/bin/
/TengoDotNetCore.Service/obj/
/TengoDotNetCore/.vs/
/TengoDotNetCore/wwwroot/upload/
/TengoDotNetCore/TengoDotNetCore.csproj.user
