/.vs
/TengoDotNetCore.Web/bin/
/TengoDotNetCore.Web/obj/
/TengoDotNetCore.API/bin/
/TengoDotNetCore.API/obj/
/TengoDotNetCore.Common/bin/
/TengoDotNetCore.Common/obj/
/TengoDotNetCore.Models/bin/
/TengoDotNetCore.Models/obj/
/TengoDotNetCore.BLL/bin/
/TengoDotNetCore.BLL/obj/
/TengoDotNetCore/.vs/
/TengoDotNetCore/wwwroot/upload/
/TengoDotNetCore/TengoDotNetCore.csproj.user
