@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewData["Title"] - TengoDotNetCore</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/tengo-dialog/tengo-dialog.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/width.css" rel="stylesheet" />
    <link href="~/css/color.css" rel="stylesheet" />
    <link href="~/lib/tengo-dialog/tengo-dialog.css" rel="stylesheet" />
    @RenderSection("Header", required: false)
</head>
<body>
    <partial name="_LayoutHeader" />
    <div class="container body-content">
        <partial name="_CookieConsentPartial" />
    </div>
    <div id="app">
        @RenderBody()
    </div>
    <partial name="_LayoutFooter" />
    <environment include="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </environment>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="~/lib/tengo-dialog/tengo-dialog.js"></script>
    <script src="~/js/utils.js"></script>
    @RenderSection("Footer", required: false)
</body>
</html>
